{
  "presets": [
    ["env", {
      "targets": {
        "node": "current"
      }
    }]
  ],
  "plugins": [
    "transform-flow-strip-types",
    "transform-strict-mode",
    "transform-class-properties"
  ],
  "sourceMaps": "inline"
}
